body{
    background-image: url("https://i.pinimg.com/1200x/b9/9c/23/b99c237504dd5ae691d5587f30e3657a.jpg");
    background-repeat: repeat;
    background-image: linear-gradient(to right,rgba(236, 193, 240, 0.545),rgb(239, 173, 173));
}